<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.isklikas.NoteCreatorPrefs</string>
			<key>key</key>
			<string>SwitchCell6</string>
			<key>label</key>
			<string>title</string>
			<key>PostNotification</key>
			<string>com.isklikas.NoteCreatorPrefs-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.isklikas.NoteCreatorPrefs</string>
			<key>key</key>
			<string>SwitchCell5</string>
			<key>label</key>
			<string>autokey</string>
			<key>PostNotification</key>
			<string>com.isklikas.NoteCreatorPrefs-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.isklikas.NoteCreatorPrefs</string>
			<key>key</key>
			<string>SwitchCell2</string>
			<key>label</key>
			<string>scancel</string>
			<key>PostNotification</key>
			<string>com.isklikas.NoteCreatorPrefs-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>scancelinfo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2017 isklikas</string>
		</dict>
	</array>
	<key>title</key>
	<string>NoteCreator</string>
</dict>
</plist>
