Package: isklikas.noteCreator
Name: NoteCreator
Version: 1.3
Description: Fully compatible with iPhone and iPad, 64 bit or not (and probably iOS 6 devices as well). Finally, you are now able to create Notes, from anywhere on iOS, with the power of Activator! Credits to our designer, iFasman7, for designing the iPad version. Code by @isklikas. Credit goes as well to Alan Yip (@cctweak) for the basic Notes code.
Section: System
Depends: firmware (>= 7.0), mobilesubstrate, libactivator
Build-Depends: preferenceloader
Conflicts:
Replaces:
Priority: optional
Architecture: iphoneos-arm
Author: isklikas
dev: isklikas
Homepage:
Depiction:
Maintainer:
Icon: file:///Library/PreferenceLoader/Preferences/noteCreator/Note@2x.png
